<!DOCTYPE html>
<html>
<head>
	<title>Home-Autocomplete</title>
<!-- jQuery !-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"> </script>
<!-- jQuery UI !-->
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

</head>
<body>

<h1>This is the example of django autocomplete using jquery-ui.</h1>
<div class="ui-widget">
  <label for="places">Person: </label>
  <input id="name" placeholder="input here">
</div> 



<script>

  $(function() {
    $("#name").autocomplete({
      source: "/get_name/",
      select: function (event, ui) { //item selected
        AutoCompleteSelectHandler(event, ui)
      },
      minLength: 1,
    });
  });

  function AutoCompleteSelectHandler(event, ui)
  {
    var selectedObj = ui.item;
  }

</script>

</body>
</html>